{% extends "blog/base.html" %}
{% block content %}
{% load crispy_forms_tags %}
{% load static %}
  
<h3 class=" mt-5 text-center" style="color:hsl(15, 83%, 65%);">Add New Doctor</h3>
<br>
<div class="container">
    <div class="col-lg-8 mt-3 mx-auto">
        <div class="form-group">
            <form method="POST"  enctype="multipart/form-data">
                {% csrf_token %}
                {{ adddoctorform.media}}
                {{ adddoctorform | crispy}}
                
                <button class="btn btn-signup right" type="submit" href>Add Doctor</button>
                <br> <br>

            </form>
        </div>
    </div>
</div>
 

{%endblock%}